{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5">

    <title>LifeSense</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'device_feed/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'device_feed/style.css' %}">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="{% static 'device_feed/css/colors.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'device_feed/css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'device_feed/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'device_feed/css/custom.css' %}">
    <!-- Modernizer for Portfolio -->
    <script src="{% static 'device_feed/js/modernizer.js' %}"></script>
    <!-- [if lt IE 9] -->
</head>

<body class="clinic_version">

    <header>
        <div class="header-top">
            <div class="container">
                <br><img src="{% static 'device_feed/images/logo.png' %}" alt="image"><br><br>
                
                <div class="alert alert-success">
                    <strong>Success!</strong> This alert box could indicate a successful or positive action.
                  </div>
                  
            </div>
        </div>
    </header>


    {% block display %}{% endblock %}

    <div class=" copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-text">
                        <p>Site developed by Nishant Ranjan</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyrights -->
    <a href="{% static 'device_feed/#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    
      <!-- all js files -->
      <script src="{% static 'device_feed/js/all.js' %}">
    </script>
        <!-- all plugins -->
        <script src="{% static 'device_feed/js/custom.js' %}"></script>

</body>

</html>